<!doctype html>
<html lang="en" class="bg-gray-100 dark:bg-gray-950">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL SHORTNER</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
          darkMode: "class",
        }
    </script>
    
    <style>
      body {
        transition: background-color 0.3s ease,
                    color 0.3s ease;
    }
      @view-transition {
        navigation: auto;
      }
    </style>
  </head>

  <body
    class=" transition-colors duration-300 bg-gradient-to-br from-gray-300 via-gray-200 to-teal-200/60 min-h-screen flex flex-col text-black dark:text-white dark:bg-gradient-to-br dark:from-gray-950 dark:via-gray-800 dark:to-teal-950"
  >
    <div class="fixed top-20 right-5 z-[60] space-y-3 max-w-xs">
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for category, message in messages %}
      <div
        class="px-5 py-3 rounded-xl shadow-lg shadow-white/30 font-medium border text-sm {% if category == 'success' %} bg-teal-950 text-teal-300 border-teal-800/50 {% elif category == 'danger' %} bg-red-950 text-red-300 border-red-900/50 {% elif category == 'warning' %} bg-yellow-950 text-yellow-300 border-yellow-900/50 {% else %} bg-gray-800 text-gray-300 border-gray-700 {% endif %}"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </div>

    <main class="flex-1">{% block body %} {% endblock body %}</main>
    {% if show_footer %}
    <footer>
      <p
        class="bg-teal-700 text-center text-sm text-teal-100 py-1 dark:bg-gray-900"
      >
        © 2026 URL Shortener. Built with Flask & Tailwind CSS.
      </p>
    </footer>
    {% endif %}
    <script src="{{url_for('static', filename='javascript/app.js')}}"></script>
  </body>
</html>
