{% extends 'base.html' %}
{% block body %}
    
    <h1>Shorten Your URL</h1>
    <form method="POST">
        {{form.hidden_tag()}}
        <div>
            {{form.original_url.label}}
            {{form.original_url()}}
        </div>
        <div>
            {{form.submit()}}
        </div>
    </form>

    <h2>Your Links</h2>
    {% for link in links %}
    <div>
        <a href="{{ url_for('main.redirect_to_url', short_code=link.short_code, _external=True) }}">
        {{ url_for('main.redirect_to_url', short_code=link.short_code, _external=True) }}
        </a>
    </div>
    {% endfor %}
{% endblock body %}
